body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

.navbar{
    border-radius:0;
}
.navbar-brand{
    font-family: 'Raleway', sans-serif;
}

.form-control {
    width: 50%;
}

#bar {
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 5px 5px 10px 0 grey;
    padding:0 15px 0 15px;
}

.thumbnail {
     margin-top: 50px;
     margin-bottom: 5px;
     box-shadow: 6px 6px 10px 0 grey;
     padding:0 15px 0 15px;
}