<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Attendance Portal{% endblock %}</title>
    {% load staticfiles %}
    <!-- ## for dynamic urls: {% url 'attendance_portal:<name>' (id if required) %}
         #  for normal urls -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{%  static '<filename>' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'attendance_portal/style.css' %}" />
    <script src="{% static 'attendance_portal/js/main.js' %}"></script>
    <style>
        .form-control {
            width: 50%;
            }
        #bar {
            border-radius: 4px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% ## %}">Attendance Portal</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">
            <!--    <li class="{% block attendance_active %}{% endblock %}" >
                    <a href="{% ## %}">
                        <span class="glyphicon glyphicon-notes-2" aria-hidden="true"></span>&nbsp; Attendance
                    </a>
                </li> -->

                <li class="{% block profile_active %}{% endblock %}">
                    <a href="{% ## %}">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>&nbsp; Profile
                    </a>
                </li>

                <li class="{% block token_active %}{% endblock %}">
                    <a href="{% ## %}">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp; IIIT Allahabad
                    </a>
                </li>
            </ul>

         <!--  Search bar if required

            <form class="navbar-form navbar-left" role="search" method="get" action="{% ## %}" %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit"  class="btn btn-inverse"> Search </button>
            </form> -->

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp; Contact
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp; SoftDev
                    </a>
                </li>

                <li>
                    <a href="{% ## %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
    {% block body %}
    {% endblock %}
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</html>